<div class="row">
  <div class="col-lg-12">
      <div class="hpanel">
          <div class="panel-heading">

            <div class="panel-tools">
              <div class="text-right"><button class="btn btn-primary btn-sm" [routerLink]="['/home/task/create']"><i class="fa fa-plus"></i> Create new task</button>
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                <a class="closebox"><i class="fa fa-times"></i></a>
              </div>
            </div>
              Task List
          </div>
          <div class="panel-body">
              <div class="table-responsive">
              <table cellpadding="1" cellspacing="1" class="table">
                  <thead>
                  <tr>
                      <th>Resource</th>
                      <th>Data Location</th>
                      <th>Items</th>
                      <th>Status</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let task of tasks;" >
                      <td>{{task.resource}}</td>
                      <td>{{task.dataLocation}}</td>
                      <td>{{task.extractedItems}}/{{task.totalItems}}</td>
                      <td>{{task.extractionStatus}}</td>
                      <td></td>
                  </tr>
                  </tbody>
              </table>
</div>

          </div>
          <div class="panel-footer">

          </div>
      </div>
  </div>
</div>
